<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增线路巡查信息')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-xianluxuncha-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">编号：</label>
                <div class="col-sm-8">
                    <input name="bianhao" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">线路名称：</label>
                <div class="col-sm-8">
                    <input name="luxianmingcheng" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">线路长度：</label>
                <div class="col-sm-8">
                    <input name="luxianchengdu" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">电线杆总数：</label>
                <div class="col-sm-8">
                    <input name="dianxianganzongshu" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">巡查时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="xunchashijian" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">巡查次数：</label>
                <div class="col-sm-8">
                    <input name="xunchacishu" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">巡查人数：</label>
                <div class="col-sm-8">
                    <input name="xuncharenshu" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">线路状态：</label>
                <div class="col-sm-8">
                    <input name="xianluzhuangtai" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/xianluxuncha"
        $("#form-xianluxuncha-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-xianluxuncha-add').serialize());
            }
        }

        $("input[name='xunchashijian']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>